@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff');
	font-weight: bold;
}

* {
	font-family: "Montserrat";
}

footer,
header,
img {
	pointer-events: none;
	user-select: none;
}

button {
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	background-color: #FF7931;
	color: white;
}

button:hover {
	background-color: #ea6822;
	cursor: pointer;
}

button:active {
	background-color: #cd5211;
}

body {
	text-align: center;
}

footer,
header {
	padding: 25px;
}

footer {
	background-color: #575757;
	margin-top: 100px;

	nav {
		border-bottom: 2px solid #787878;
		padding-bottom: 10px;

		a {
			color: white;
		}
	}
}

.descrition {
	font-size: medium;
	font-weight: normal;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
	margin-bottom: 50px;
}

.featuresText {
	font-size: medium;
	padding-bottom: 20px;
}

.mainImage {
	position: relative;

	>:not(:first-child) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		color: white;
	}

	.title {
		font-weight: lighter;
		font-size: 400%;
		margin-bottom: 100px;
	}
}

a {
	color: gray;
	text-decoration: none;
	pointer-events: all;
}

ul {
	display: flex;
	list-style: none;
	pointer-events: all;
	padding: 10px;
	margin: 0;
	gap: 15px;
	justify-content: center;
}

address.socialButtons img {
	background: white;
	padding: 8px;
	height: 16px;
	aspect-ratio: 1.0;
	object-fit: contain;

	pointer-events: all;
	user-select: all;
}


img.bgImg {
	width: 100%;
}

.reviews {

	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 30%);
	gap: 40px;
	margin-top: 20px;

	width: 80%;
	margin-right: auto;
	margin-left: auto;

	h6,
	h5,
	h4,
	h3,
	h2,
	h1 {
		width: auto;
		color: black;
		overflow-wrap: anywhere;
		align-self: left;
		text-align: left
	}

	:hover {
		h2 {
			color: #FF7931;
		}
	}

	img {
		width: 100%;
	}
}