@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.woff');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.woff');
	font-weight: bold;
}

:root {
	--hover-text-color: #FF7931;
}

* {
	font-family: "Montserrat";
}

button {
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	background-color: #FF7931;
	color: white;
}

button:hover {
	background-color: #ea6822;
	cursor: pointer;
}

button:active {
	background-color: #cd5211;
}

body {
	text-align: center;
}

footer,
header {
	padding: 25px;
}

footer {
	background-color: #575757;
	margin-top: 100px;

}

footer nav {
	border-bottom: 2px solid #787878;
	padding-bottom: 10px;
}

footer nav a {
	color: white;
}

.descrition {
	font-size: medium;
	font-weight: normal;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -5px;
	margin-bottom: 50px;
}

.featuresText {
	font-size: medium;
	padding-bottom: 20px;
}

.mainImage {
	position: relative;
	width: 100%;
}

.mainImage>img {
	object-fit: cover;
	display: block;
}
.mainImage:hover {
	color: var(--hover-text-color);
}

.mainImageInner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.mainImage .title {
	font-weight: lighter;
	font-size: 400%;
	margin-bottom: 100px;
}

a {
	color: gray;
	text-decoration: none;
}

ul {
	display: flex;
	list-style: none;
	padding: 10px;
	margin: 20px;
	gap: 15px;
	justify-content: center;
}

a:hover {
	color: var(--hover-text-color);
}

img.orange-icon {
	width: auto;
	height: 50px;
}

address.socialButtons img {
	background: white;
	padding: 8px;
	height: 16px;
	aspect-ratio: 1.0;
	object-fit: contain;
}

img.bgImg {
	width: 100%;
}

.reviews {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 30%);
	gap: 40px;
	margin-top: 20px;

	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.reviews h3,
.reviews h2,
.reviews h1 {
	width: auto;
	color: black;
	text-align: left;
}

.reviews>:hover h2 {
	color: var(--hover-text-color);
}

.reviews img {
	width: 100%;
}